.footer {
  background-color: #fafafa;

  padding-top: 50px;
  padding-bottom: 50px;

  @include desktop {
    padding-top: 115px;
    padding-bottom: 35px;
  }
}

.footer__container,
.footer__menu,
.footer__socials,
.footer__menu-item,
.footer__copyright {
  display: flex;
}

.footer__container {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__menu {
  flex: 100%;
  gap: 20px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 53px;
  border-bottom: 1px solid black;
  justify-content: center;

  @include tablet-bg {
    gap: unset;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: center;
    gap: 80px;
  }
}

.footer__menu-item {
  align-items: center;

  &--logo {
    order: -1;
    @include tablet-bg {
      order: 0;
      flex-basis: 200px;
      justify-content: center;
    }
  }
}

.footer__menu-link {
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.footer__logo--icon {
  fill: $color-accent;
}

.footer__socials {
  flex: 100%;
  justify-content: center;
}

.footer__social-icon {
  height: 40px;
  width: 40px;
}

.footer__social-link:hover > .footer__social-icon,
.footer__social-link:focus > .footer__social-icon {
  fill: $color-accent;
}

.footer__socials {
  gap: 25px;
  padding-top: 53px;
}

.footer__copyright {
  margin-top: 72px;
  gap: 14px;
}

.footer__privacy-link {
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
