.header {
  display: flex;
  align-items: center;
  height: 116px;
  background-color: #fafafa;
}

.header__container,
.header__nav,
.header__menu {
  display: flex;
}

.header__nav {
  display: none;
  align-items: center;

  @include tablet-bg {
    display: flex;
  }
}

.header__menu {
  gap: 30px;
}

.header__container {
  @include tablet-bg {
    justify-content: space-between;
  }
}

.header__logo {
  align-self: center;
}

.logo__icon {
  width: 41px;
  height: 39px;
}

.header__menu-link {
  font-size: 18px;
  line-height: 1.22;
  color: $color-black;
}

.header__cta {
  border: 1px solid $color-accent;
  border-radius: 5px;
  padding: 14px 24px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: $color-accent;

  display: none;

  @include tablet-bg {
    display: block;
  }
}

// hamburger menu

.hamburger {
  @include tablet-bg {
    display: none;
  }
}

.hamburger-checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 37px;
  right: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 32px;
  top: 44px;
  right: 35px;
  z-index: 2;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  background: $color-black;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: $animation;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: $animation;
}

input[type='checkbox']:checked ~ .menu-items {
  transform: translateX(0);
}

input[type='checkbox']:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

input[type='checkbox']:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

input[type='checkbox']:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
