<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__menu">
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Home</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">About</a>
      </li>
      <li class="footer__menu-item footer__menu-item--logo">
        <a href="#" class="footer__menu-link">
          <svg class="logo__icon footer__logo--icon">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Service</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Blog</a>
      </li>
    </ul>
    <ul class="footer__socials">
      <li class="footer__social-item">
        <a href="" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="" class="footer__social-link">
          <svg class="footer__social-icon">
            <use href="./images/icons.svg#icon-pinterest"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer__copyright">
      <li class="footer__copyright-item">© 2010 — 2020</li>
      <li class="footer__copyright-item">
        <a href="#" class="footer__privacy-link">Privacy — Terms</a>
      </li>
    </ul>
  </div>
</footer>
