<section class="section">
    <div class="container">
        <h2 class="section__title">Gifts for all Occasions</h2>
        <p class="section__subtitle">“Try our web app to find the best gifts for all occasions”</p>
        <ul class="card-set">
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/birthday_mob.jpg 1x, ./images/birthday@2x_mob.jpg 2x" media="(max-width:767px)" />
                    <source srcset="./images/birthday_tabl.jpg 1x, ./images/birthday@2x_tabl.jpg 2x" media="(max-width:1199px)" />
                    <source srcset="./images/birthday_desk.jpg 1x, ./images/birthday@2x_desk.jpg 2x" media="(min-width:1200px)" />
                    <img class="photo" src="./images/birthday.jpg" srcset="./images/birthday@2x.jpg 2x" alt="Birthday" />
                </picture>
                <div class="card-set__text">
                    <h3 class="card-set__title">Birthday</h3>
                    <a class="card-set__send" href="#">See more></a>
                </div>
            </li>
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/anniversary_mob.jpg 1x, ./images/anniversary@2x_mob.jpg 2x" media="(max-width:767px)" />
                    <source srcset="./images/anniversary_tabl.jpg 1x, ./images/anniversary@2x_tabl.jpg 2x" media="(max-width:1199px)" />
                    <source srcset="./images/anniversary_desk.jpg 1x, ./images/anniversary@2x_desk.jpg 2x" media="(min-width:1200px)" />
                    <img class="photo" src="./images/anniversary.jpg" srcset="./images/anniversary@2x.jpg 2x" alt="Anniversary" />
                </picture>
               <div class="card-set__text">
                    <h3 class="card-set__title">Anniversary</h3>
                    <a class="card-set__send" href="#">See more></a>
               </div>
            </li>
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/valentine_mob.jpg 1x, ./images/valentine@2x_mob.jpg 2x" media="(max-width:767px)" />
                    <source srcset="./images/valentine_tabl.jpg 1x, ./images/valentine@2x_tabl.jpg 2x" media="(max-width:1199px)" />
                    <source srcset="./images/valentine_desk.jpg 1x, ./images/valentine@2x_desk.jpg 2x" media="(min-width:1200px)" />
                    <img class="photo" src="./images/valentine.jpg" srcset="./images/valentine@2x.jpg 2x" alt="Valentine" />
                </picture>
                <div class="card-set__text">
                    <h3 class="card-set__title">Valentine's Day</h3>
                    <a class="card-set__send" href="#">See more></a>
                </div>
            </li>
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/christmas_mob.jpg 1x, ./images/christmas@2x_mob.jpg 2x" media="(max-width:767px)" />
                    <source srcset="./images/christmas_tabl.jpg 1x, ./images/christmas@2x_tabl.jpg 2x" media="(max-width:1200px)" />
                    <source srcset="./images/christmas_desk.jpg 1x, ./images/christmas@2x_desk.jpg 2x" media="(min-width:1200px)" />
                    <img class="photo" src="./images/christmas.jpg" srcset="./images/christmas@2x.jpg 2x" alt="Christmas" />
                </picture>
                <div class="card-set__text">
                    <h3 class="card-set__title">Christmas</h3>
                    <a class="card-set__send" href="#">See more></a>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="work-block">
    <div class="container work__container">
        <div class="work-block__text">
            <h2 class="work-block__title">Ready to get started?</h2>
            <p class="work-block__subtitle">Sign up or contact us</p>
        </div>
      <div class="work-block__button">
            <button class="work-block__btn work-block__btn--current" type="button">Find gift now</button>
            <button class="work-block__btn" type="button">Find gift now</button>
      </div>
    </div>
</section>