<section class="section">
    <div class="container">
        <h2 class="section__title">Gifts for all Occasions</h2>
        <p class="section__subtitle">“Try our web app to find the best gifts for all occasions”</p>
        <ul class="card-set">
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/birthday.jpg 1x, ./images/birthday@2x.jpg 2x" media="(min-width:1200px)" />
                    <img class="" src="./images/birthday.jpg" srcset="./images/birthday@2x.jpg 2x" alt="Birthday" />
                </picture>
                <h3>Birthday</h3>
                <a href="#">See more</a>
            </li>
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/anniversary.jpg 1x, ./images/anniversary@2x.jpg 2x" media="(min-width:1200px)" />
                    <img class="" src="./images/anniversary.jpg" srcset="./images/anniversary@2x.jpg 2x" alt="Anniversary" />
                </picture>
                <h3>Anniversary</h3>
                <a href="#">See more</a>
            </li>
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/valentine.jpg 1x, ./images/valentine@2x.jpg 2x" media="(min-width:1200px)" />
                    <img class="" src="./images/valentine.jpg" srcset="./images/valentine@2x.jpg 2x" alt="Valentine" />
                </picture>
                <h3>Valentine's Day</h3>
                <a href="#">See more</a>
            </li>
            <li class="card-set__item">
                <picture>
                    <source srcset="./images/christmas.jpg 1x, ./images/christmas@2x.jpg 2x" media="(min-width:1200px)" />
                    <img class="" src="./images/christmas.jpg" srcset="./images/christmas@2x.jpg 2x" alt="Christmas" />
                </picture>
                <h3>Christmas</h3>
                <a href="#">See more</a>
            </li>
        </ul>
    </div>
</section>
<section class="work-block">
    <div class="container">
        <h2 class="work-block__title">Ready to get started?</h2>
        <p class="work-block__subtitle">Sign up or contact us</p>
        <button class="work-block__btn work-block__btn--current" type="button">Find gift now</button>
        <button class="work-block__btn" type="button">Find gift now</button>
    </div>
</section>